@use '../../styles/variables' as v;
.container {
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    .content {
        margin: 100px auto;
        ._title {
            text-align: center;
            color: #382671;
        }
    }
}