.content {
    padding: 15px;
    background-color: #000205;
    display: flex;
    justify-content: center;
    align-items: center;
    ._serach {
        font-size: 17px;
        font-weight: 200;
        padding: 20px;
        width: 100%;
        outline: none;
        background-color: #000000;
        border: none;
        color: #fff;
        letter-spacing: 1px;
    }
    ._submit {
        background-color: #9B0B00;
        font-size: 17px;
        color: #fff;
        border: none;
        width: 150px;
        border-radius: 5px;
        height: 50px;
        &:hover {
           background-color: #BC1300;
           cursor: pointer;
        }
    }
}