.container {
    flex: auto;
    position: sticky;
    top: 0;
    right: 0;
    height: 100vh;
    width: 500px;
    background-color: #f7f9fa;
    border-left: 1px solid rgb(221 221 221 / 34%);
    overflow-y: scroll;
    .content {
        ._top {
            position: relative;
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            padding: 15px;
            ._toggler {
                position: fixed;
                top: 90px;
                right: 20px;
                cursor: pointer;
                user-select: none;
            }
        }
        .title {
            font-size: 18px;
        }
        .section {
            border-top: 1px solid rgb(221 221 221 / 34%);
            border-bottom: 1px solid rgb(221 221 221 / 34%);
            ._info {
                padding: 20px 15px;
                cursor: pointer;
                span {
                    font-size: 14px;
                }
            }
            ._title {
                font-size: 18px;
                text-transform: capitalize;
            }
            ._childs {
                display: none;
                ._child {
                    cursor: pointer;
                    background-color: #fff;
                    list-style: none;
                    padding: 15px;
                    text-transform: capitalize;
                    a {
                        text-decoration: none;
                        color: #000;
                    }
                    &:hover {
                        background-color: rgb(226, 226, 226) !important;
                    }
                }
            }
        }
    }
}

#toggleOn {
    display: block !important; 
}

#closed {
    flex: 1;
}