.container {
    position: sticky;
    top: 0;
    left: 0;
    background-color: gray;
    width: 400px;
    height: 100vh;
    background-color: #f7f9fa;
    border-right: 1px solid rgb(221 221 221 / 34%);
}