* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

/* Slug page */
.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.content {
    position: relative;
    width: 100%;
    padding: 30px;
    overflow-y: scroll;
}

/* Article page */

::-webkit-scrollbar {
    display: none
}